* {
	box-sizing: border-box;
}
body {
	background-color: $BGColor;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
a {
	text-decoration: none;
}
section:first-of-type {
	padding-top: 155px;
}