body {
	font: 16px $baseFont;
}
/********************Navigation************************/
.tab-name {
	font: 400 1.25em $baseFont;
	letter-spacing: 1px;
	color: white;	
}
ul.submenu {
	a {
	font-size: 1.1em;
	color: $softGrey;
    }
} 
/********************HEADER************************/
.contact_info {
	a {
		font: 1.4em $baseFont;
		line-height: 0.3em;
		letter-spacing: 1.5px;
		color: green;
		
		@include mobile {
			font-size: 1em;
			line-height: 1em;
		}
	}
}
/********************HOME PAGE************************/
/*****Carousel*******/
.carousel_info_box {
	color: white;
	font-family: $baseFont;
	.info_box_title{
		font-size: 2.0em;
		letter-spacing: 1.2px;
		font-weight: 600;
	}
	.info_box_paragraph{
		font-size: 1.1em;
		line-height: 1.15em;
		font-weight: 400;
	}
}
.carousel_cont_4 .carousel_info_box {
	input[type="text"] {
		color: black;
		font: 1.3em $baseFont;
	}
	input[type="submit"] {
		font-size: 1.25em;
	}
}
/*****Services,About,Gallery,Contact Section*******/
.section_title {
	font: 1.2em $specialFont1;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $softGrey;

}