.about_section {
	
	.about_main_pic_container {
		margin: 0 auto;
		width: 55%;
	}
	
	.about_main_paragraph {
		width: 90%;
		text-align: justify;
		margin: 0 auto;
		font-size: 27px;
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		line-height: 39px;
		padding: 50px 0;
		color: grey;
		
		@include tablet {
			font-size: 20px;
			line-height: 28px;
		}
		
		@include mobile {
			font-size: 15px;
		line-height: 17px;
		text-align: center;
		color: black;
		}
	}
}