/************************REQUEST A QUOTE SECTION******************************/
.homePgReqQuote {
	display: flex;
	height: 250px;
	background: rgba(98,125,77,1);
	background: radial-gradient(ellipse at center, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);
	margin-top: 185px;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 74px -12px rgba(0,0,0,0.75);
	
	@include tablet {
		height: 190px;
		margin-top: 75px;
	}
	
	@include mobile {
		height: 133px;
		margin-top: 112px;
	}
	
	.reqQuoteLink {
		text-transform:  uppercase;
		font-size: 42px;
		letter-spacing: 1.4px;
		text-align: center;
		padding: 14px 20px;
		color: white;
		border: 3px solid #b8caa9;
		border-radius: 0px;
		background: #6e8d57;
		transition: all .2s;
		font-weight: 100;
		
		@include tablet {
			font-size: 25px;
			letter-spacing: 1.2px;
		}
		
		@include mobile {
			font-size: 15px;
			letter-spacing: 0.8px;
			padding: 11px 12px;
			border: 1px solid #b8caa9;
		}
		
		.email2-icon {
			margin-bottom: -6px;
			margin-right: -5px;
			width: 51px;
			height: 39px;
			fill: white;
			
			@include tablet {
				height: 29px;
			}
			
			@include mobile {
				margin-bottom: -2.5px;
				margin-right: 1px;
				height: 16px;
				width: 16px;
			}
		}
		
		&:hover {
			background: rgba(98,125,77,1);
			transition: all .2s;
		}
	}
}



/************************TESTIMONIALS SECTION******************************/
.testimonials {
	margin-top: 190px;
	height: 500px;
	background: linear-gradient(rgba(90, 92, 94, 0.6), rgba(90, 92, 94, 0.9)), url("../assets/img/quote-picture.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	
	@include tablet {
		margin-top: 110px;
		height: 315px;
	}
	
	@include mobile {
		margin-top: 100px;
		height: 160px;
	}
	
	.slick-list, 
	.slick-slider,
	.slick-track {
		height: 100%;
	}
	
	.testimony_outer {
		height: 100%;
		width: 100%;

		.testimony-inner {
			height: 100%;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
		
		.opening_quote_container,
		.closing_quote_container {
			width: 7%;
			opacity: 0.4;
		}
		.opening_quote_container{
			margin-right: 75%;
			
			@include tablet {
				margin-right: 90%;
			}
			
			@include mobile {
				margin-bottom: 7px;
			}
		}
		.closing_quote_container {
			transform: rotate(180deg);
			margin-left: 75%;
			
			@include tablet {
				margin-left: 85%;
			}
			
			@include mobile {
				margin-top: -74px;
			}
		}
		
		.testimony {
			margin: 0;
			text-align: center;
			color: white;
			font-family: 'Tangerine', cursive;
			font-size: 41px;
			letter-spacing: 4px;
			flex-basis: 100%;
			padding: 0 20%;
			
			@include tablet {
				font-size: 35px;
				letter-spacing: 2px;
				padding: 0 8%;
			}
			
			@include mobile {
				font-size: 21px;
				padding: 0 1%;
			}
		}
		
		.author {
			color: rgb(227, 190, 66);
			font-family: $baseFont;
			flex-basis: 100%;
			margin: 0;
			padding: 0;
			font-weight: bold;
			font-size: 22px;
			letter-spacing: 1px;
			text-align: center;
			padding: 17px 0 0 108px;
			
			@include tablet {
				font-size: 18px;
			}
			
			@include mobile {
				font-size: 11px;
				padding: 6px 0 0 104px;
			}
		}
		
		.location {
			color: white;
			opacity: 0.8;
			flex-basis: 100%;
			margin-top: -5px;
			padding: 0;
			font-weight: 100;
			text-align: center;
			padding-left: 108px;
			font-size: 14px;
			letter-spacing: 1px;
			
			@include mobile {
				font-size: 9px;
			}
		}
	}
}

/************************LOGO SECTION******************************/

.footer-logo{
	margin: 100px auto;
	width: 20%;
	
	@include tablet {
		width: 35%;
		margin: 52px auto;
	}
	
	@include mobile {
		width: 60%;
		margin: 51px auto;
	}
}

/************************CONTACT SECTION******************************/

footer hr {
	width: 90%;
	margin: 0 auto;
}

.homepg_contact {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	
	@include mobile {
		display: block;
	}
	
	div:first-of-type {
		border-right: 1px solid grey;
		
		@include mobile {
			border: none;
		}
	}
}

.call, .mail {
	margin: 50px 0;
    padding: 46px 0;
	flex-basis: 50%;
	padding-left: 5%;
	flex-wrap: wrap;
	
	@include mobile {
		flex-basis: 100%;
		padding: 0 0 0 10px;
	}
	
	h5 {
		color: green;
		font-family: $baseFont;
		font-size: 36px;
		margin: 0;
		padding: 0;
		letter-spacing: 1.8px;
		font-weight: 100;
		
		@include tablet {
			font-size: 25px;
		}
	}
	
	.phone-icon, .email2-icon {
		width: 40px;
		height: 31px;
		fill: green;
		margin-bottom: -4px;
		margin-right: -1px;
		
		@include tablet {
			width: 22px;
			height: 27px;
			margin-right: 2px;
		}
	}
	.email2-icon {
		margin-bottom: -5px;
		margin-right: -5px;
		
		@include tablet {
			margin-right: 1px;
		}
	}
	
	span {
		color: grey;
		font-size: 21px;
		letter-spacing: 2px;
		
		@include tablet {
			font-size: 17px;
			letter-spacing: 1px
		}
		
		@include mobile {
			font-size: 14px;
		}
	}
	
	a {
		color: grey;
		font-size: 21px;
		letter-spacing: 2px;
		
		@include tablet {
			font-size: 17px;
			color: black;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	a[href^="mailto"] {
		
		@include mobile {
			font-size: 15px
		}
	}
}
/************************SOCIAL ICONS SECTION******************************/

.footer-social-icons {
	margin-top: 20px;
	text-align: center;
	
	.email-icon, .fb-icon {
		width: 25px;
		height: 25px;
		fill: $softGrey;
	}
	
	.fb-icon {
		width: 21px;
		height: 21px;
		margin: 0 7px;
	}
}
/************************COPYRIGHT/PRIVACY POLICY SECTION******************************/
.copyright_section {
	margin: 30px 0 0;
	background: lighten($softGrey, 25%);

	.privacy_policy,
	.copyright {
		margin: 0 5px;
	}
	
	.copyright {
		padding: 30px 0;
		font-size: 13px;
		margin-bottom: 0;
		display: inline-block;
	}
	
	.privacy_policy {
		display: inline-block;
		color: black;
		font-size: 13px;
		
		:visited {
			color: black;
		}
	}
}