header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	@include mobile {
		justify-content: center;
	}
	.logo {
		flex-basis: calc(100% - 207px);
		margin-top: -13px;
		margin-bottom: -25px;
		@include mobile {
			flex-basis: 100%;
			margin-bottom: 0;
		}
	}
	.contact_info {
		@include mobile {
			flex-basis: 100%;
		}
	}
}
.logo {
	img {
		height: 135px;
		margin-left: -25px;
		@include mobile {
			width: 100%;
			height: initial;
			margin-left: 0;
		}
	}
}
.contact_info {
	@include mobile {
		flex-basis: 100%;
	}
	a {
		display: block;
	}
}
@include mobile {
	a[href^="tel"] {
		float: right;
		padding-left: 21px;
		background: url(../assets/svg/phone.svg) no-repeat;
		background-size: 23px 23px;
		background-position-x: 5px;
		background-position-y: -3px;
		
	}
}
