.header_and_nav {
	position: fixed;
	z-index: 300;
	background: $BGColor;
	transition: all 0.3s;
}



header {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	
	.logo {
		flex-basis: 25%;
		margin-top: -13px;
		margin-bottom: -25px;
		padding-left: 11px;
		
		@include tablet {
			flex-basis: 29%;
			margin-top: -33px;
		}
		
		@include mobile {
			flex-basis: 100%;
			margin-bottom: -58px;
		}
	}
}
.logo {
	img {
		height: 135px;
		margin-left: -25px;
		transition: all 0.3s;
	}
}


.contact_info {
	margin-right: 0;
	padding-right: 21px;
	flex-basis: 75%;
	align-self: flex-start;
    margin-top: 5px;
	text-align: right;
	
	@include tablet {
		margin-right: 27px;
		flex-basis: 66%;
	}
	
	@include mobile {
		flex-basis: 100%;
		margin-right: 0;
	}
	
	a {
		display: inline-block;
		font-weight: 100;
		margin-top: -10px;
	}
	
	.type {
		font-family: 'Cinzel Decorative', cursive;
		font-size: 13px;
		color: darken(grey, 30%);
		font-weight: 100;
		transition: all 0.3s;
		
		@include tablet {
			font-size: 10px;
		}
		
		@include mobile {
			font-size: 10px;
		}
		
		&::before {
			content: url("../assets/svg/FSsymbol.svg");
			width: 20px;
			height: 20px;
			display: inline-block;
			top: 4px;
			left: -2px;
			position: relative;
			
			@include tablet {
				width: 15px;
				height: 15px;
				top: 5px
			}
			
			@include mobile {
				display: none;
			}
		}
	}
	
	.phoNum {
		font: 1em $baseFont;
		line-height: 0.3em;
		letter-spacing: 1.5px;
		color: green;
		transition: all 0.3s;
		
		@include tablet {
			font-size: 18px;
		}
		
		@include mobile {
			font-size: 15px;
		}
		
	}
	
	.p2 {
		@include mobile {
			letter-spacing: 2.0px;
		}
	}
	
	.break {
		display: none;
		
		@include mobile {
			display: block;
		}
	}
	
	.seporater {
		padding: 0 5px;
		font-size: 24px;
		color: grey;
		
		@include tablet {
			padding: 0 2px;
			font-size: 16px;
		}
		
		@include mobile {
			display: none;
		}
	}
}





