/************************GENERAL******************************/
.mainarea {
	transition: margin-left .5s;
	background: $BGColor; 
	min-height: 100vh;
	width: 100%;
	max-width: 100%;
	img {
		min-width: 100%;
	}
	@include tablet {
		margin-left: 0;
		max-width: 100%;
		padding: 0;
	}
}
.logo img {
	min-width: 10%;
	
	@include mobile {
		max-width: 60%;
	}
}
/************************CAROUSEL******************************/
.carousel_section {
	padding-top: 147px;
}
.social-icon_cont {
	display: flex;
	justify-content: flex-end;
	margin: -10px 0;
	
	@include tablet {
		margin: -6px 0;
	}
	
	.email-icon,
	.fb-icon {
		height: 17px;
		width: 17px;
		fill: $softGrey;
		margin: 0 5px;
		transition: fill .1s;
		&:hover {
			fill: darken($softGrey, 15%);
		}
	}
	.email-icon {
		height: 20px;
		width: 20px;
	}
}
.horizontal_row {
	background: #ccc;
	border: none;
	height: 1.5px;
	margin-bottom: 20px;
	margin-top: 0;
}
.carousel_cont {
	position: relative;
	max-height: 460px; 
	overflow: hidden;
	
	@include tablet {
		max-height: 320px;
	}
}
.carousel_info_box {
/* 	background: rgba(0,0,0,0.7); */
	padding: 22px 13px;
	position: absolute;
	top: 0;
	right: 50px;
	width: 60%;
	max-width: 510px;
	z-index: 100;

	
	.info_box_title {
		margin: 0;
		color: #FFE761;
		text-transform: uppercase;
		font-weight: bold;
	}
	.info_box_paragraph {
		margin: 5px 0;
	}
	
	.get_started {
		display: inline-block;
		padding: 5px 10px;
		border: 2px solid #FFE761;
		border-radius: 10px;
		font-size: 1.5em;
		color: #FFE761;
		text-transform: uppercase;
		background: rgb(66, 107, 72);
		font-weight: bold;
		margin-top: 8px;
	}
}
.carousel_cont_1 .carousel_info_box {
	bottom: 25px;
	right: 30px;
}
.carousel_cont_2 .carousel_info_box {
	bottom: 25px;
	left: 30px;
}
.carousel_cont_3 .carousel_info_box {
	top: 40px;
	bottom: initial;
	right: 40px;
}
.carousel_cont_4 .carousel_info_box {
	bottom: calc(50% - 100px);
    left: calc(50% - 225px);
	box-shadow: -1px 29px 85px 7px rgba(0,0,0,0.75);
	h3.form_title {
		text-align: center;
		margin-bottom: 15px;
	}
	input[type="text"] {
		width: 100%;
		height: 43px;
		padding: 10px;
	}
	input[type="submit"] {
		background: green;
		margin-top: 15px;
		width: 100%;
		height: 43px;
		text-align: center;
	}
}
/*********Slick Adjustments*********/


	.slick-dots {
		bottom: -9px;
	}
	.slick-dots li {
		margin: 0 3px;
	}
	.slick-dots li button:before {
		font-size: 9px;
	}
	.slick-dots li.slick-active button:before {
		color: $accentColor;
	}
	.slick-arrow {
		display: none;
		height: 45px;
		width: 45px;
		top: 241px;
	}
	.slick-next {
		right: 2px;
	}
	.slick-prev {
		left: 0px;
		z-index: 2;
	}
	.slick-prev:before, 
	.slick-next:before {
		font-size: 45px;
	}
	.carousel_section:hover .slick-arrow {
		display: block;
	}
	.slick-dotted.slick-slider {
		padding-bottom: 30px;
	}

/************************SERVICES SECTION******************************/
.services_section {
	margin-top: 110px;
	
	@include mobile {
		margin-top: 85px;
	}

	.section_title {
		border-top: 1px solid #ccc;
		display: block;
		width: 100%;
		padding: 0;
		margin-bottom: 45px; 
		font-family: 'Lato', sans-serif;
		font-size: 2.0em;
		
		@include tablet {
			font-size: 30px;
		}
		
		@include mobile {
			font-size: 24px;
			margin-bottom: 70px;
		}
		
		span {
			display: block;
			float: left;
			padding: 0 10px 0 0;
			margin: -5px 0 0 0;
			background-color: $BGColor;
			font-weight: bold;
			margin-left: 25px;
			margin-top: -16px;
			
			@include mobile {
				padding: 0 7px;
				margin: -15px 0 0 50px;
				color: black;
			}
		}
	}
}
div.services_cont {
	background: rgba(255,255,255,0.4);
	margin-top: 70px;
	
	@include mobile {
		background: $BGColor;
		margin-top: 0;
	}
}
ul.services_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background: $BGColor;
}
li.service_item {
	flex-basis: 50%;
	position: relative;
	transform: translateZ(0);
	
	@include mobile {
		flex-basis: 100%;
		padding: 0;
	}
	
	a {
		width: 100%;
		height: 100%;
	}
	
	img {
		display: block;
	}
	
	.service_overlay {
		display: none;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.7);
		position: absolute;
		top: 0px;
		
		.service_overlay_content{
			top: 136px;
			position: absolute;
			display: block;
			opacity: 0;
			width: 100%;
			
			p {
				width: 100%;
				color: white;
				text-align: center;
				font-size: 25px;
				letter-spacing: 2px;
				font-weight: 100;
				margin: 5px;
			}
			
			li {
				margin-left: 30px;
				width: 100%;
				padding: 0 10px;
				text-align: left;
				color: white;
				text-align: left;
				font-size: 20px;
				letter-spacing: 3px;
				font-weight: 100;
			}
		}
	}
	
}
.service_title_container {
	background: rgba(22,55,32,1);
	 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.5)));
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 18px;
    width: 91%;
    color: #fff;
    font-size: 25px;
    letter-spacing: 6px;
	
	@include tablet {
		padding: 10px 5px;
		font-size: 18px;
		letter-spacing: 3px;
		width: 94%;
	}
}
.service_title {
		color: rgba(255,255,255,1);
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		top: 50px;
		font-size: 23px;
		letter-spacing: 3px;
		width: 100%;
}


/************************MISSION STATEMENT SECTION******************************/

.mission_statement {
	margin-top: 125px;
	
	@include tablet {
		margin-top: 60px;
	}
	
	hr {
		width: 90%;
		color: grey;
	}
	
	h2 {
		margin-top: 103px;
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 50px;
		color: grey;
		
		@include tablet {
			margin-top: 49px;
			font-size: 37px;
			
		}
		
		@include mobile {
			font-size: 20px;
			color: black;
		}
	}
	
	p {
		padding: 20px 150px;
		line-height: 1.3em;
		letter-spacing: 1.5px;
		font-family: 'Lato', sans-serif;
		font-size: 30px;
		font-weight: 700;
		color: darken(grey, 5%);
		text-align: center;
		
		@include tablet {
			padding: 20px 93px;
			letter-spacing: 1px;
			font-size: 22px;
		}
		
		@include mobile {
			padding: 0px 13px;
			letter-spacing: 0.5px;
			font-size: 13px;
			color: black;
		}
	}
}


/* .image1,
.image2,
.image3 {
	content: "";
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.image1 {
	background-image: url("../assets/img/landscape-design.jpg");
}
.image2 {
	background-image: url("../assets/img/irrigation-repair.jpg");
}
.image3 {
	background-image: url("../assets/img/lighting.jpg");
} */

