.nav-outer-cont {
	width: 225px;
	position: fixed;
	height: 100%;
	background: linear-gradient(to left, (rgba(179,179,179,0.75)) 0, #ffffff 15px, #ffffff 100%);
	transition: margin-left .5s;
}
.nav_toggle_btn { 
    position: absolute;
	background: green;
	border-radius: 3px 7px 7px 3px;
    top: 135px;
    left: 226px;
	cursor: pointer;
	.arrow {
		display: inline-block;
		padding: 1px 4px;		
		color: white;
		font-size: 2em;
		border-radius: 3px 7px 7px 3px;
		transition: transform 1.3s;
	}
}
.nav-inner-cont {
	margin-top: 150px;
}
.services-cont {
	margin-top: 54px;
}
.tab-cont {
	background: $accentColor;
	padding: 2.5px 0 2.5px 20px;
	margin-top: 2px;
	opacity: .42;
	display: flex;
	align-items: center;
	.tab-name {
		flex-basis: 82%;
		a {
			color: inherit;
		}
	}
	.submenu-icon {
		flex-basis: 18%;
		cursor: pointer;
	}
	svg {
		fill: white;
		transform: rotate(180deg);
		-moz-transform: rotate(270deg);
		transition: transform .5s;
		transform-origin: 50% 50%;
	}
	.home-icon svg {
		transform: rotate(0);
		padding-top: 5px;
		fill: white;
		margin-top: 4px;
	}
}
nav {
	.submenu-icon,
	svg,
	#submenu-arrow {
		display: inline-block;
		height: 22px;
		width: 22px;
	}
}
ul.submenu {
	display: none;
	li {
		border-top: 1px dashed $softGrey;
		:hover {
			color: black;
		}
	}
	li:first-of-type {
		border-top: none;
	}
	a {
		display: inline-block;
		padding: 1px 5px;
		margin-left: 30px;
	}
} 
.active {
	border-left: 4px solid green;
}