/********************************Desktop Navigation*********************************/
.nav-outer-cont-desk {
	.nav-list {
		display: flex;
		margin: 0;
		justify-content: center;
		
		li {
			padding: 0 37px;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin: 0 18px;
			transition: all .8s ease;
			-webkit-font-smoothing: antialiased;
			position: relative;
			
			&:hover {
				background:  lighten(#eaeaea, 10%);
			}
		}
		
		a {
			transition: all 0.8s ease;
		}
	}
	.services_nav_list {
		display: none;
		background: lighten(#eaeaea, 10%);
		padding: 0 9px 9px 9px;
		box-shadow: 6px 7px 13px #888;
		position: absolute;
		z-index: 100;
		left: 0;
		position: absolute;
		
		li {
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 9px 2px;
			border-bottom: 1px solid rgba(0,128,0,0.2);
			
			a {
				transition: all 0.3s ease;
				
				&:hover {
					color: rgba(0,128,0,1);
				}
			}
		}
		li:last-child {
			border-bottom: none;
		}
	}
}

.nav-list a {
	color: grey;
}
/********************************Mobile Navigation*********************************/
.nav-outer-cont-mobile {
	width: 225px;
	position: fixed;
	height: 100%;
	background: linear-gradient(to left, (rgba(179,179,179,0.75)) 0, #ffffff 15px, #ffffff 100%);
	transition: margin-left .5s ease;
	z-index: 100;
	display: none;
	@include tablet {
		background: white;
		margin-left: -225px;
	}
}
.nav_toggle_btn { 
    position: absolute;
	background: green;
	border-radius: 3px 7px 7px 3px;
    top: 135px;
    left: 226px;
	cursor: pointer;
	.arrow {
		display: inline-block;
		padding: 1px 4px;		
		color: white;
		font-size: 2em;
		border-radius: 3px 7px 7px 3px;
		transition: transform 1.3s;
		@include tablet {
			padding: 0 8px;
			transform: rotate(180deg);
		}
		@include mobile {
			font-size: 1.6em;
			transition: none;
		}
	}
}
.nav-inner-cont {
	margin-top: 150px;
	@include mobile {
		margin-top: 50px;
	}
}
.services-cont {
	margin-top: 54px;
}
.tab-cont {
	background: $accentColor;
	padding: 2.5px 0 2.5px 20px;
	margin-top: 2px;
	opacity: .42;
	display: flex;
	align-items: center;
	.tab-name {
		flex-basis: 82%;
		a {
			color: inherit;
		}
	}
	.submenu-icon {
		flex-basis: 18%;
		cursor: pointer;
	}
	svg {
		fill: white;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(270deg);
		transform: rotate(180deg);
		-webkit-transition: -webkit-transform .5s;
		transition: transform .5s ease;
		transform-origin: 50% 50%;
	}
	.home-icon svg {
		transform: rotate(0);
		fill: white;
		margin-top: 4px;
	}
}
nav {
	.submenu-icon,
	svg,
	#submenu-arrow {
		display: inline-block;
		height: 22px;
		width: 22px;
	}
}
ul.submenu {
	display: none;
	li {
		border-top: 1px dashed $softGrey;
		:hover {
			color: black;
		}
	}
	li:first-of-type {
		border-top: none;
	}
	a {
		display: inline-block;
		padding: 1px 5px;
		margin-left: 30px;
	}
} 
.active {
	border-left: 4px solid green;
}

/*************************SHRINK HEADER CLASSES*******************************/
.shrink_header_and_nav {
	background: darken($BGColor, 50%);
}

ul.shrink_nav_list {
	
	li {
		transform: scale(0.8);
	}
	
	a {
		color: white;
		
		&:hover {
			color: grey;
		}
	}
}
	
.services_list_shrink_adjustment {
	left: 0 !important;
	height: 180px !important;
	
	a{
		color: grey !important;
	}
	
	.nav-list {		
		li a {
			color: grey !important;
		}
	}
}

.shrink_logo img {
	height: 100px;
}

.shrink_contact_info {
	
	.type {
		color: white;
		font-size: 11px;
	}
	
	.phoNum {
		background: rgba(255,255,255,0.6);
		border-radius: 3px;
	}
}