/************************GENERAL LAYOUT****************************/
.service_pg_section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 245px;
	
	.section_title {
		flex-basis: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 50px;
		padding: 0 0 50px;
		font-family: 'Lato', sans-serif;
		letter-spacing: 7px;
		
		@include tablet {
			font-size: 35px;
		}
	}
	
	hr {
		width: 90%;
		margin: 105px auto;
		opacity: 0.7;
		
		@include tablet {
			margin: 80px auto;
		}
	}
	
	.outer {
		flex-basis: 100%
	}
	
	.outer:nth-of-type(odd) {
			flex-direction: row;
	}

	.outer {
		display: flex;
		justify-content: flex-start;
		flex-direction: row-reverse;
		margin-top: 95px;
		padding: 0 80px;
		
		@include tablet {
			margin-top: 20px;
			padding: 0 15px;
		}
		
		.inner {
			flex-basis: 55%;
			opacity: 1;
			margin: 0;
		}
		
		.service_pic{
			flex-basis: 45%;
			
			img {
				box-shadow: 10px 10px 110px -22px rgba(0,0,0,0.75);
				border-radius: 5px;
				opacity: 1;
				margin: 0 auto;
			}
		}
	}

	.service_inner {
		padding: 0 30px;
	}
	
	.inner {
		opacity: 1;
		margin: 0;
		transform: translate(0);
		transition: all 1s;
		
		.inner_service_title {
			text-align: left;
			font-size: 35px;
			font-family: 'Lato', sans-serif;
			margin: 0;
			letter-spacing: 3px;
			padding: 0 21px;	
			
			@include tablet {
				font-size: 27px;
			}
		}
		
		ul.list {
			flex-basis: 100%;
			list-style-type: disc;
			padding: 50px 0 0 20px;
			margin: 0;
			
			@include tablet {
				padding: 13px 0 0 20px;
			}
			
			li {
				font-size: 22px;
				font-family: 'Lato', sans-serif;
				font-weight: bold;
				margin: 25px 0;
				
				@include tablet {
					margin: 15px 0;
					font-size: 15px;
				}
			}
		}
	}
	
	.about_pic {
		transform: translate(0);
		transition: all 1s;
	}
	
	.hide_it {
		
		.inner {
			opacity: 0;
			transform: translate(150px);
		}
		
		.about_pic {
			opacity: 0;
			transform: translate(-150px);
		}
	}
}
/************************PAGE SPECIFIC LAYOUT****************************/

/************About Page********************/
.about_people_title {
	
	&::before {
		content: "";
		background-image: url(../assets/img/leaf.png);
		background-repeat: no-repeat;
		padding-left: 35px;
		background-size: 30px 30px;
		background-position: -3px 6px;
		opacity: 0.3;
	}
 }
 
.about_section{
	.about_main_pic_container img {
		box-shadow: 10px 10px 110px -22px rgba(0, 0, 0, 0.75);
		border-radius: 5px;
	}
	
	.specialist_title {
		flex-basis: 100%;
		text-align: center;
		font-size: 46px;
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		color: grey;
		
		@include tablet {
			font-size: 38px;
		}
	}
	
	 .inner ul.about_content_list {
		list-style-type: none;
		padding: 15px 0 0 20px;
		letter-spacing: 1px;
	}
	
	.outer {
		
		.inner {
			flex-basis: 70%;
			
			@include tablet {
				flex-basis: 60%;
			}
		}
		
		.about_pic {
			flex-basis: 30%;
			
			@include tablet {
				flex-basis: 40%;
			}
			
			img {
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;
				height: 473px;
				min-width: initial;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}
}