.img-container1 img{
	width: 100%;
	height: auto;
}

.img-container2 img,
.img-container3 img {
	width: 100%;
	height: auto;
}

.img-group{
	display:flex;
	
	div {
		flex-basis: 33.33333%;
		height: 100%;
	}
}
